    <h1>Sample App</h1>
    <p>
      This is the home page for the RoR Sample Application
    </p>

    s%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
    <p>Fin/views/pages/home.html.erb</p>
